{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<img src=http://oranuzrad.pythonanywhere.com/static/imgs/tichonet.png alt="W3Schools.com" style="width:600px;height:142px;">

<p>
    The project is on computer science of Tichonet 10th grade students.
    In the project I was needed to find a data base and build a website around it
</p>
<p>
    which will allow me to investigate it's data in the gas station industries and arrive to
    new conclusions .
</p>
<p>
    The project is based on the following technology ingredients
</p>
<p>
    Python
</p>
<p>
    Pandas
</p>
<p>
    Flask
</p>
<!--{% endblock %}-->
