{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Gas Stasion</h1>
    <p class="lead">Gas stasion is where you can put gas in your car or you need to take a break from drivig and if you need to rest or buy somthing .</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
         there is a lot of Gas stasion anda lot of company who run the Gas Stasion but which company control the most Gas Stasion and who is the most powerful
            in Gas Stasion you can do a lot of thing if its eat food buy snack put gas in your car full your wheel in air but with aal the good come bad thre is only one bad thing the smell
        </p>


{% endblock %}
