{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Gas Stasion</h1>
    <p class="lead">The amount of gas stations in cities .</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            There are many gas stations and companies in Israel. When you're at gas stations you fill gas for your car in case you need
            it or if you just need a break from driving and want to stop to eat or
            drink something quickly. In this project, we'll check which cities and gas companies are the most polluting
        </p>
        <img src="https://cdn.discordapp.com/attachments/717338812656648213/718163368040595515/CR-Cars-Inlinehero-protect-yourself-against-corona-while-pumping-gas-0320.png" style="width:600px;height:400px;">
    </div>

    <!--{% endblock %}-->
