{% extends "layout.html" %}

{% block content %}

<h1>{{ title }}</h1>

<p>This page will enable the user to input a data field</p>
<div class="col-lg-4" style="background-color: lightgoldenrodyellow">
    <p>Press shift to choose another gas station</p>
</div>
<form method=post>
    {{ form.csrf }}
    {{ form.csrf_token }}
    <table>
        <tr>
            <td class="input text"> {{ form.GasStations.label }} </td>
            <td>                    {{ form.GasStations }}       </td>
        </tr>
        <tr>
            <td class="input text"> {{ form.City.label }} </td>
            <td>                    {{ form.City }}       </td>
        </tr>
        <tr>
            <td></td>
            <td class="input submit"> <input type="submit" value="submit"> </td>
        </tr>
    </table>
</form>

<img src="{{ chart1 }}" alt="Graph" width="500px" />


<!--{% endblock %}-->
